$nightmare: #15171c;
$fog: #bbc2cf;
$cyan: #46d9ff;
$sea: #51afef;
$grass: #98be65;
$sun: #ecbe7b;
$rose: #ff6c6b;
$night: #282c34;

$input-padding: 6px 12px;
$common-padding: 14px 14px;
$common-border-radius: 14px;
$input-border-radius: 14px;
$input-border: none;
$common-big-offset: 32px;

$icon-size: 32px;
